<div ng-controller="GreetController" class="jumbotron">
	<h2>Hello {{name}}!</h2>
</div>

<div ng-controller="ListController">
		<ul>
			<li ng-repeat="users in userList"><h4 ng-click="users.score = users.score + 1" ng-init="users.score = users.score">{{users.firstname}}</h4>: {{users.score}} </li>
		</ul>
	
	<p ng-click="save()">SAVE</p>
</div>
